#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.lift {
  height: 15vh;
  width: 100px;
  background-color: rgb(227, 227, 227);
  position: relative;
  margin: 1rem;
  border: 2px solid black;
}

.lift-doors {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.door {
  width: 50%;
  height: 100%;
  background-color: white;
}

.open .left-door {
  animation: openLeftDoor 2.5s forwards;
}

.open .right-door {
  animation: openRightDoor 2.5s forwards;
}

.closed .left-door {
  animation: closeLeftDoor 2.5s forwards;
}

.closed .right-door {
  animation: closeRightDoor 2.5s forwards;
}

@keyframes openLeftDoor {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes openRightDoor {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes closeLeftDoor {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes closeRightDoor {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


.floor{
  display: flex;
  width: 80vw;
  height: 20vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.buttons{
  width: 100px;
  height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 50px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.building{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 8px;
  width: 30%;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 30%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-body label {
  font-size: 16px;
  color: #333;
}

.modal-body input {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
  width: 100px;
}
